<li>
  <div class="contentHeadlineSmallBlue170">
  	<span class="collumTopText">Conference Archive</span>
  </div>		  			
	<ul>
		<li><%= link_to 'All conferences', conferences_path%></li>
	</ul>
</li>				
