<div class="post">
	<div class="post-bgtop">
		<div class="post-bgbtm">
			<h1 class="title"><a href="#"><%= @title %></a></h1>
			<div class="entry">
				<%= yield :content %>
			</div>
		</div>
	</div>
</div>
