<%= render :partial => '/shared/title_bar', :locals => {:title => "Neurodag :: Contact" } %>
<%= render :partial => '/shared/notice' %>
<div id="site-page">
<p>
	

  Neurodag.dk - Blegdamsvej 3, 2200 KBH
</p>
<p>	<br>
	Secretary	:<BR>	Lisbeth Rosenberg Causse	<BR>
	phone:	+45 353-27314, mobil: +45 28757314<br>
	Fax	:	+45 353-27499<br>
	Address: <br>
	INF <br>
	Blegdamsvej 3 <br>
	2200 København N<br>
	E-mail	:	 lcausse@sund.ku.dk

</p>
</div>


