<b> NB! </b> A number of people have had problems with login or registration when using Microsoft Explorer as browser. The problems should be fixed now, but for optimal display and functionality we recommend using other browsers instead, such as <a href="http://www.firefox.com">Firefox 3.5</a> | <a href="http://www.apple.com/safari/">Safari 4</a> | <a href="http://www.opera.com/download/"> Opera 10</a>. 