<%= render :partial => '/shared/title_bar', :locals => {:title => "Forgot password"} %>
<%= render :partial => '/shared/notice' %>
<div class="formWrapper">
<% form_for :user do |form| %>
<p>
<label for="email">Email:</label> 
<%= form.text_field :email, :size => User::EMAIL_SIZE %>
</p>
<p>
  <%= submit_tag "Email Me!", :class => "submit" %>
</p>
<% end %>
</div>